.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    input{
       background-color: white;
    }
    
    svg{
        margin: 0px 10px;
        font-size: var(--fs-xxl);
        color: #072C2B;
    }
}